rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /banners/{imageId} {
      allow read: if true;
      allow write: if true; // Em produção, alterar para request.auth != null
    }

    // Devem ser as mesmas regras usadas para categories
    match /categories/{imageId} {
      allow read: if true;
      allow write: if true;
    }
  }
} 